.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container > h3 {
  margin: 0;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid var(--black-300);
}

.checkbox input[type='checkbox'],
.checkbox label:before {
  top: 0.25rem;
  border-radius: unset;
}

.checkbox input[type='checkbox']:checked + label::after {
  --size: 1.2rem;
  content: '';
  position: absolute;
  width: var(--size);
  height: calc(var(--size) / 2);
  background: rgba(0, 0, 0, 0);
  top: 0.2rem;
  border: 2px solid #44b600;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
