.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  place-items: start;
  justify-content: space-between;
}

.container > h3 {
  margin: 0;
}

.title_container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.empty {
  margin: auto;
  padding: 10px;
  height: 50%;
  width: 50%;
  text-align: center;
  font-size: medium;
  color: #37333d;
  opacity: 32%;
}

.link {
  color: #ff2d55;
}

.footer_text_container {
  width: 50%;
  text-align: center;
  margin: auto;
}
