.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container > h3 {
  margin: 0;
}

.empty {
  margin: auto;
  padding: 10px;
  height: 50%;
  width: 50%;
  text-align: center;
  color: #37333d;
}

.link {
  color: #ff2d55;
}

.footer_text_container {
  width: 50%;
  text-align: center;
  margin: auto;
}
