.image{
  max-width: 180px;
  margin: 0px auto;
}

.link {
  color: #ff2d55;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 680px;
  margin: auto;
}

.title {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-top: 48px;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.factsHeader {
  font-size: 16px;
  text-align: center;

  margin-top: 70px;
}

.factsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px;
}

.factCard{
  background: radial-gradient(rgb(253, 237, 250), rgb(252, 251, 241));
  border: 1px solid #F3F2F5;
  border-radius: 24px;
  text-align: center;
  padding: 32px 24px;
  margin: 24px 8px;
}

.factIcon {
  margin-bottom: 16px;
}

.factText{
  font-size: 16px;
}

.jobContainer{
  padding: 40px;
  border: 1px solid #F3F2F5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 2px 12px rgba(77, 77, 77, 0.08);
  border-radius: 32px;

  margin-top: 24px;
  margin-bottom: 32px;
}

.jobAuthor{
  font-size: 16px;
  color: #736E7D;
}

.jobTitle{
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 8px;
}

.jobSectionTitle{
  font-size: 12px;
  font-weight: 600;
  color: #736E7D;
  margin-top: 32px;
}

.jobText{
  font-size: 16px;
  color: #36333D;
  white-space: pre-line;
  margin-top: 8px;
}

.jobText a{
  font-weight: 400;
}

@media (max-width: 768px){
  .factsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}