.link {
  color: #ff2d55;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 500px;
  margin: auto;
}

.title {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-top: 48px;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  width: 100%;
}