.cardContainer {
    border: var(--card_border);
    border-radius: 8px;
    box-shadow: var(--card_shadow);
    padding: 0 1rem 0 0;
    margin-bottom: 2rem;
    cursor: pointer;
    display: table;
    width: 100%;
  }

  .cardContainer--resource {
    cursor: default;
  }
  
  .cardContainer:hover {
    transform: var(--card_animation);
  }

  .flatAnchor {
    font-weight: unset;
  }
  
  .flatAnchor:hover {
    color: var(--text);
    font-weight: unset;
  }

  .infoContainer {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  
  .name {
    margin: 0;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-weight: 700;
    flex-wrap: wrap;
  }

  .name div:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    white-space: normal;
  }
  
  .image{
    height: 12rem;
    width: 12rem;
    float: left;
    margin-right: 1rem;
    border-radius: 8px;
    flex-shrink: 0;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }
  
  .description_container{
    display: flex;
    flex-direction: column;
  }
  
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    white-space: normal;
    margin-bottom: 0.5em;
    max-height: 97px;
    padding-right: 12px;
  }

  .description--resource {
    -webkit-line-clamp: 2;
  }

  .read_more_trigger {
    color: #ff2d55;
    font-size: 1em;
    font-weight: 500;
  }

  .logoMini {
    width: 24px;
    height: 24px;
    /* float: left; */
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 1rem;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  
  .partner_name {
    /* font-size: 15px; */
    /* font-weight: 600; */
    display: flex;
  }

  .partner_info {
    align-items: center;
    margin-left: 8px;
    display: flex;
    font-weight: initial;
  }
  
  .buttons {
    transform: scale(0.90) translateX(-6%);
  }
  
  .buttons a:first-of-type {
    margin-right: 20px;
  }
  

  @media (max-width: 700px) {
    .name {
      display: block;
    }

    .image {
      width: 8rem;
      height: 8rem;   
    }
    .logoMini {
      width: 16px;
      height: 16px;
    }
    .partner_info {
      margin-left: 0;
      margin-top: 8px;
    }
    .partner_name {
      font-weight: 700;
      white-space: nowrap;
    }
    .description {
      -webkit-line-clamp: 2;
    }

    .description--resource {
      -webkit-line-clamp: 1;
    }

    .buttons { 
      transform: none;
    }
    .buttons a:first-of-type {
      margin-right: 0;
    }
  }