@media (max-width: 700px) {
  .hidden_mobile {
    display: none;
  }
}

.filter_container {
  width: 250px;
}

.filter_name {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 13px;
  color: #736e7d;
}

.tag_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  color: #242129;
  cursor: pointer;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-left: -1rem;
  margin-right: 4rem;
}

.tag_container:last-of-type {
  margin-bottom: 50px;
}
.check,
.tag_container:hover {
  font-weight: 600;
  color: #16141a;
  background-color: #726d7c25;
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}

.tooltip_container {
  display: block;
  position: absolute;
}

.tag_container:hover .tooltip_container .tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  display: none;
  background: white;
  border-radius: 5px;
  padding: 10px;
  width: 230px;
  left: 150px;
  top: -4rem;
  box-shadow: 0 2px 4px #726d7c;
  font-weight: 400;
}

.tag_container:hover.serv_3d_modeling,
.serv_3d_modeling--check,
.serv_3d_modeling > .circle {
  background-color: #fbe5fd;
}

.tag_container:hover.serv_3d_modeling > .circle,
.serv_3d_modeling--check > .circle {
  background-color: #ee74f7;
}

.tag_container:hover.serv_advertisement,
.serv_advertisement--check,
.serv_advertisement > .circle {
  background-color: #fdf7d6;
}

.tag_container:hover.serv_advertisement > .circle,
.serv_advertisement--check > .circle {
  background-color: #f4b356;
}

.tag_container:hover.serv_emote_design,
.serv_emote_design--check,
.serv_emote_design > .circle {
  background-color: #eab6be;
}

.tag_container:hover.serv_emote_design > .circle,
.serv_emote_design--check > .circle {
  background-color: #c72b32;
}

.tag_container:hover.serv_land_rental,
.serv_land_rental--check,
.serv_land_rental > .circle {
  background-color: #e3ecfa;
}

.tag_container:hover.serv_land_rental > .circle,
.serv_land_rental--check > .circle {
  background-color: #5688e7;
}

.tag_container:hover.serv_programming,
.serv_programming--check,
.serv_programming > .circle {
  background-color: #dfdcf1;
}

.tag_container:hover.serv_programming > .circle,
.serv_programming--check > .circle {
  background-color: #382aac;
}

.tag_container:hover.serv_venue_rental,
.serv_venue_rental--check,
.serv_venue_rental > .circle {
  background-color: #fcefd5;
}

.tag_container:hover.serv_venue_rental > .circle,
.serv_venue_rental--check > .circle {
  background-color: #f0804f;
}

.tag_container:hover.serv_wearable_design,
.serv_wearable_design--check,
.serv_wearable_design > .circle {
  background-color: #e4f2d8;
}

.tag_container:hover.serv_wearable_design > .circle,
.serv_wearable_design--check > .circle {
  background-color: #63b334;
}
