.container {
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 12rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.name {
  margin-bottom: 90px;
  font-size: xx-large;
  line-height: 1;
  /* text-align: center; */
}

.image_container {
  flex: 1;
  margin-right: 15px;
}

.image {
  max-width: 50vw;
}

.partner_logo {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
  border-radius: 1rem;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.partner_name {
  font-size: 15px;
  font-weight: 500;
}

.partner_info {
  display: flex;
  align-items: center;
}

.services {
  margin: 0.4rem 0.4rem 0 0;
}

.info_about {
  flex: 1;
  /* margin-right: 15px; */
  min-width: 200px;
  /* font-size: 12px; */
  display: flex;
  flex-direction: column;
}

.info_id {
  display: flex;
  margin-bottom: 40px;
  min-width: 400px;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.info_details {
  /* width: 33%; */
  font-weight: 500;
  text-transform: uppercase;
  color: #736e7d;
  font-size: 12px;
}

.info_title {
  width: 33%;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  color: #736e7d;
  margin-top: 20px;
}

.pills {
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.description {
  font-size: 19px;
  min-height: 20vw;
}

.info_panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.arrow_right {
  border: solid #736e7d;
  border-width: 0 1px 1px 0;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: -1px;
  display: inline-block;
}
.header_arrow {
  width: 16px;
  height: 16px;
  border: 1px solid #d2d0d5;
  border-radius: 50%;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 250px;
  text-align: center;
  background: #ff2d55;
  border-radius: 6px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  /* cursor: pointer; */
  margin-top: 20px;
}
