.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    justify-content: space-between;
    width: 100%;
}

.listContainer {
    flex-grow: 2;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    margin-bottom: 40px;
    min-height: 3rem;
}

.resultsCount {
    font-size: 16px;
    font-weight: 700;
}

.filtersButton {
    margin-left: 10px;
    display: none;
}

.clearButton {
    margin-left: 22px;
    font-size: 12px;
    color: #FF2D55;
    cursor: pointer;
}

.clearButton > svg {
    transform: scale(0.65) translateY(3px);
}

.clearButton--mobile {
    display: none;
}

.filtersContainer {
    width: 250px;
    flex-shrink: 0;
    display: block;
    flex-direction: column;
}

.filtersType {
    font-size: 13px;
    color: #736e7d;
    margin-bottom: 24px;
    font-weight: 600;
}

.tag {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 6px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 24px;
    /* margin-left: -8px; */
    cursor: pointer;
    /* line-height: 2rem; */
  }

.tag:last-of-type {
    margin-bottom: 50px;
}

.tag_over:hover,
.tag_check {
  font-weight: 600;
  color: #16141a;
  background-color: #726d7c25;
}
  
@media (min-width: 701px) {
    .filtersContainer {
        display: block !important;
    }
}

.filtersMobile_title,
.filtersMobile_buttons {
    display: none;
}

@media (max-width: 700px) {
    .filtersButton {
        display: inline-block;
        vertical-align: sub;
    }

    .clearButton {
        display: none;
    }

    .clearButton--mobile {
        display: flex;
        position: fixed;
        z-index: 50;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);

        padding: 5px 16px;

        font-size: 12px;
        color: #FFFFFF;
        background: #FF2D55;
        border: 1px solid #FF2D55;
        box-shadow: 0px 2px 4px rgba(22, 20, 26, 0.08), 0px 0px 4px rgba(22, 20, 26, 0.12);
        border-radius: 100px;
    }

    .filtersContainer {
        background-color: #FFF;
        position: fixed;
        inset: 0;
        z-index: 100;
        display: none;
        width: 100%;
    }

    .filtersMobile_title {
        font-size: 16px;
        font-weight: 600;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 1px 1px rgba(8, 43, 41, 0.08), 0px 0px 8px rgba(8, 43, 41, 0.06);
    }

    .filtersMobile_container {
        padding: 16px;
        height: calc(100vh - 122px);
        position: static;
        overflow-y: scroll;
    }

    .filtersMobile_buttons {
        padding: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px -1px 1px rgba(8, 43, 41, 0.08), 0px 0px 8px rgba(8, 43, 41, 0.06);
        position: absolute;
        bottom: 0;
        background-color: #fff;
    }

    .listContainer {
        max-width: 100%;
    }

    .resultsCount {
        font-size: 14px;
    }
}