.dashboard_container {
  height: calc(100dvh - 180px);
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dashboard {
  display: flex;
  position: relative;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  width: 300px;
}

.column:nth-child(3) {
  width: 464px;
}

.column_header {
  display: flex;
  height: 36px;
  padding: 6px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  color: var(--text-color-text-h-2);
  background-color: #FFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  cursor: default;
}

.column_header--mobile {
  padding: 16px 20px;
  height: unset;
}

.column_title {
  display: flex;
  padding: 4px 4px 4px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--primitives-grey-color-grey-100);
  background: var(--structure-color-background);

  color: var(--text-color-text-h-2, #332F31);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.column_title--selected {
  background: var(--primitives-pink-color-red-500, #FF2D55);
  color: var(--primitives-color-white, #FFF);
}

.column_counter {
  display: flex;
  padding: 3px 8px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--primitives-grey-color-grey-100);
  background: var(--primitives-grey-color-grey-50);
}

.column_counter--red {
  border-color: var(--primitives-pink-color-red-100, #FFD0DA);
  background-color: var(--primitives-pink-color-red-50, #FFEBEE);
  color: var(--primary);
}

.column_contents {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  border: 1px solid var(--primitives-grey-color-grey-200);
  background: var(--primitives-grey-color-grey-100);
  position: relative;
  overflow: hidden;
}

.column_contents--jobs {
  border-radius: 8px 0px 0px 8px;
}

.column_contents--chat {
  border-radius: 0px 4px 4px 0px;
  overflow: hidden;
  width: 100%;
}

.column_contents.column_contents--empty {
  border-left-color: #FFF;
  border-right-color: #FFF;
}

.column_contents.column_contents--jobs.column_contents--empty {
  border-left-color: var(--primitives-grey-color-grey-200);
}

.column_contents.column_contents--chat.column_contents--empty {
  border-right-color: var(--primitives-grey-color-grey-200);
}

.job_card {
  display: flex;
  padding: 16px;
  border: 4px solid var(--desktop-dashboard-project-card-color-dashboard-project-background-default);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;

  border-bottom: 1px solid var(--structure-color-generic-border);
  background: var(--desktop-dashboard-project-card-color-dashboard-project-background-default);
  cursor: default;
}


.conversation_card.active,
.job_card.active {
  background: var(--primitives-grey-color-grey-50);
  border-color: var(--primitives-grey-color-grey-50);
  border-left: 4px solid var(--primary);
}

.card_row {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;

  font-size: 14px;
  line-height: 20px;
  color: var(--desktop-dashboard-project-card-color-dashboard-project-submissions-number-default);
}

.card_row--title span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--desktop-dashboard-project-card-color-dashboard-project-title-default);
  white-space: nowrap;
  font-weight: 700;
}

.active .card_row span:last-child {
  color: var(--desktop-dashboard-project-card-color-dashboard-project-title-default);
  font-weight: 700;
}

.job_card:hover .show_active,
.active .show_active {
  visibility: visible;
}

.show_active {
  visibility: hidden;
  margin-left: auto;
}

.online {
  color: #008706 !important;
  font-weight: 400;
}

.grayText {
  color: #7E797B;

}

.conversation_card {
  display: flex;
  width: 100%;
  /* width: 300px; */
  /* height: 140px; */
  padding: 16px;
  border: 4px solid var(--primitives-color-white);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-bottom: 1px solid var(--structure-color-generic-border);
  background: var(--primitives-color-white);

  cursor: default;
}

.sender_row {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  align-self: stretch;
  gap: 8px;

  color: var(--text-color-text-base-highlight);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.sender_row span:last-child {
  color: var(--text-color-text-base);
  font-weight: 400;
}

.sender_row span svg {
  margin-left: 8px;
  vertical-align: middle;
}

.sender_row span div:first-child {
  margin-right: 8px;
}

.card_content {
  display: flex;
  padding-left: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.card_content div {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;

  overflow: hidden;
  color: var(--text-color-text-h-1);
  text-overflow: ellipsis;

  font-size: 14px;
  line-height: 20px;
}

.card_content div:last-child {
  -webkit-line-clamp: 2;
  color: var(--text-color-text-base);

}

.empty {
  height: 100%;
  width: 100%;
}

.empty_text {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  /* max-width: 30%; */

  color: var(--text-color-text-textinput-placeholder);
  font-size: 14px;
  line-height: 20px;
  cursor: default;
}

.empty img {
  width: 100%;
  height: 100%;
}

.empty_mask {
  position: absolute;
  width: 100%;
  top: 36px;
  height: calc(100% - 36px);
  background: linear-gradient(#FFFFFF00, 30%, #FFF);
}


.menuContainer {
  position: relative;
}

.menuItem {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(22, 20, 26, 0.08), 0px 0px 4px rgba(22, 20, 26, 0.12);
  border: none;
  border-radius: 8px;
  color: #FF2D55;
  font-size: 14px;
  position: absolute;
  white-space: nowrap;
  right: 0;
  bottom: -40px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  max-height: 100%;
  height: 100%;
}

.chat_header {
  display: flex;
  /* width: 464px; */
  padding: 20px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  border-bottom: 1px solid var(--structure-color-generic-border);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);

}

.chat_header>div:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  color: var(--text-color-text-base-highlight);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.chat_headerLink svg {
  margin-left: 4px;
  visibility: hidden;
}

.chat_headerLink:hover {
  text-decoration: underline;
}

.chat_headerLink:hover svg {
  visibility: visible;
}

.load_older {
  text-align: center;
  background: var(--primitives-grey-color-grey-50);
}

.load_older div {
  margin-top: 24px;
  margin-bottom: 24px;
}

.participants_container {
  display: inline-flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 24px;
}

.participants_container>div {
  position: relative;
  /* border-radius: 50%; */
  /* overflow: hidden; */
  width: 20px;
  margin-left: -6px;
  border: 1px solid white;
}

.participants_container>div:not(:last-child) {
  margin-left: -6px;
}

.participants_container>div>div {
  position: relative;
  left: -1px;
}

.chat_messages {
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column-reverse;
}

.chat_messages::-webkit-scrollbar {
  width: 0;
}

.disabled {
  position: absolute;
  background-color: #FFFFFF;
  opacity: 0.7;
  inset: 0;
}

.chat_write {
  position: relative;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;

  width: 100%;

  border-top: 1px solid var(--structure-color-generic-border);
  background: var(--structure-color-background);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.02);

}

.message {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background: var(--primitives-color-white);
}

.message:nth-child(even) {
  background: var(--primitives-grey-color-grey-50);
}

.message_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;

  white-space: pre-line;
}

.message_container a {
  color: var(--primary);
}

.message_container a:hover {
  text-decoration: underline;
}

.message_container div {
  color: var(--text-color-text-textinput-placeholder);
}


.chat_write textarea {
  flex: 1 0 0;

  /* color: var(--text-color-text-textinput-placeholder, #989395); */
  font-size: 14px;
  line-height: 20px;
  border: none;
  resize: none;
}

.chat_write input {
  visibility: hidden;
}

.chat_write textarea:focus {
  outline: none;
}

.chat_write svg {
  /* width: 24px; */
  /* height: 24px; */
  flex-shrink: 0;
}

.chat_write label input {
  display: none;
}

.column_header--chat {
  padding: 0;
  flex-direction: row-reverse;
}

.create_btn {
  padding: 6px 12px;

  border-radius: 3px;
  background: var(--primary);
  color: var(--general-white, #FFF);
  text-align: center;
  font-size: 9px;
  font-weight: 590;
  line-height: 13px;
}

@media (max-width: 1200px) {
  .column {
    width: 263px
  }

  .column:nth-child(3) {
    width: 406px;
  }
}

@media (max-width: 993px) {

  .dashboard {
    width: calc(100vw - 32px);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 933px) {
  .dashboard_container {
    height: calc(100dvh - 100px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .dashboard {
    width: 100vw;
  }

  .column:nth-child(3),
  /* .job_card, */
  .column {
    width: 100%;
  }

  .column_contents {
    border: none;
    background-color: #FFF;
    gap: 8px;
  }


  .conversation_card,
  .job_card {
    border-radius: 4px;
    border: 1px solid var(--structure-color-generic-border, #F0EEEE);
    background: var(--primitives-color-white, #FFF);
    width: calc(100vw - 32px);
    margin: 0 16px 0 16px;
  }

  .empty_mask {
    top: 68px;
  }

  .show_active {
    visibility: visible;
  }

  .create_btn {
    margin-left: auto ;
    font-size: 16px;
    line-height: 18px;
    padding: 9px 16px;
  }
}