.container {
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 12rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image {
  object-fit: cover !important;
}

.image_container {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.services {
  margin: 0.4rem 0.4rem 0 0;
}

.info_container {
  flex: 2;
  margin-right: 10px;
}

.header {
  /* display: flex;
  flex-direction: column; */
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0 1px 8px hsla(260, 6%, 46%, 0.16);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: relative;
}

.header:hover {
  transform: var(--card_animation);
  
}

.header:hover a {
  color: var(--primary);
}

.header:hover .header_arrow {
  transform: translateX(2px);
}

.header_info {
  position: absolute;
  bottom: 0;
  color: #FFF;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.49%, #242129 100%);
  border-radius: 20px;
  visibility: hidden;
}

.header:hover .header_info {
  visibility: visible;
} 


.header_arrow {
  /* width: 24px; */
  min-width: 24px;
  height: 24px;
  border: 1px solid #d2d0d5;
  border-radius: 50%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.arrow_right {
  border: solid #736e7d;
  border-width: 0 2px 2px 0;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: -1px;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.details {
  display: table;
  margin-bottom: 1em;
  font-size: 0.9em;
  font-weight: 400;
  color: #736e7d;
  width: inherit;
  flex: 1;
}

.details tr td {
  padding: 0.6em 0.5em 0.6em 0;
}

.details tr td:first-child {
  width: 33%;
  font-weight: 500;
  text-transform: uppercase;
}

.about {
  width: 33%;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #736e7d;
}

.pills {
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.read_more_state {
  display: none;
}

.read_more_state:checked ~ .description {
  text-overflow: normal;
  display: block;
}

.description {
  margin-bottom: 0.5em;
}

.read_more_trigger {
  cursor: pointer;
  display: inline-block;
  color: #ff2d55;
  font-size: 1em;
  font-weight: 500;
}

.project_title {
  overflow: hidden;
  text-overflow: ellipsis;
  /* color: #726d7c !important; */
  
  margin: 24px;
  bottom: 0px;
  position: absolute;
}

/* .project_title:hover {
  color: var(--primary) !important;
} */

.partner_logo{
  border-radius: 50%;
  margin-right: 8px;
}

.partner__data{
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
}