html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.4285em;

  /* Colors */
  --primary: #ff2d55;
  --black-300: #dddce0;
  --black-400: #b9b7be;

  /* Shadows */
  --card_shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --card_border: 1px solid hsla(260, 6%, 46%, 0.05);

  /* Animations */
  --card_animation: translateY(-2px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.ui.dropdown {
  color: var(--primary);
}

.ui.dropdown > .text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
}

.ui.dropdown .ui.basic.button,
.ui.dropdown .ui.basic.button:hover {
  box-shadow: none !important;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

.ui.dropdown .ui.basic.primary.button {
  color: var(--primary) !important;
}

.ui.dropdown .ui.basic.secondary.button {
  color: var(--black-400) !important;
}

.ui.accordion > .item > .title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ui.accordion > .item:not(:first-child) > .title {
  border-top: 1px solid var(--black-300);
}

.ui.accordion > .item > .title .dropdown.icon::before {
  content: '\002B' !important;
}

.ui.accordion > .item > .active.title .dropdown.icon::before {
  content: '\2212' !important;
}

.ui.accordion > .item > .active.title .dropdown.icon {
  transform: none;
}

.ui.dropdown .menu.visible {
  padding: 10px;
  padding-top: 3px;
}

.ui.basic.button {
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

.ui.container.dcl.footer {
  display: flex;
  flex-direction: row;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

/* carousel styles */

.carousel-root .carousel {
  display: flex;
  justify-content: center;
}

.carousel.carousel-slider .control-arrow {
  background: rgba(0, 0, 0, 0.2) !important;
}

.thumbs {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
