.container {
  background-color: #cccccd;
  color: #736e7d;
  border-radius: 1rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.7rem 0.1rem 0.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.container:hover .tooltip_container .tooltip{
  visibility: visible;
}

.container--venue_rental {
  background-color: #feefd2;
  color: #ff7439;
}

.container--advertisement {
  background-color: #fef7d2;
  color: #ffb03f;
}

.container--wearable_design {
  background-color: #e1f3d6;
  color: #44b600;
}

.container--3d_modeling {
  background-color: #ffe4ff;
  color: #ff5afe;
}

.container--emote_design {
  background-color: #F6DFE3;
  color: #d80027;
}

.container--land_rental {
  background-color: #e2ecfc;
  color: #4888ee;
}

.container--programming {
  background-color: #EEEDF8;
  color: #3c24b3;
}

.container--linked_wearables {
  background-color: #FFECB3 ;
  color: #FFA000;
}

.container--creative_director {
  background-color: #F0F4C3 ;
  color: #AFB42B;
}

.tooltip_container {
  display: block;
  position: absolute;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background: white;
  border-radius: 5px;
  padding: 10px;
  left: -100px;
  width: 230px;
  top: 1rem;
  box-shadow: var(--card_shadow);
  font-weight: 400;
  z-index: 10;
  color: black;
  font-size: 14px;
  line-height: 1rem;
}

