.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  /* place-items: flex-start; */
  justify-content: space-between;
  width: 100%;
}

.container > h3 {
  margin: 0;
}

.results_title {
  font-size: 16px;
  font-weight: 700;
}

.empty {
  margin: auto;
  margin-top: 10vh;
  padding: 10px;
  height: 50%;
  /* width: 50%; */
  max-width: 400px;
  text-align: center;
  font-size: medium;
  color: #37333d;
  opacity: 32%;
}

.link {
  color: #ff2d55;
}

.link_join {
  padding: 9px 16px;
  background: #FF2D55;
  border-radius: 5px;
  color: #FFF;
  font-size: 13px;
  /* margin-bottom:  20px; */
}

.link_join::before{
  content:'JOIN THIS REGISTRY';
}

.link_join:hover {
  color: #FFF;
  transform: translateY(-2px);
}


.footer_text_container {
  text-align: center;
  margin: auto;
}

.load_more_container{
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

@media (max-width: 700px) {
  .link_join::before{
    content:'JOIN';
  }
}