.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  /* place-items: flex-start; */
  justify-content: space-between;
  width: 100%;
}

.container > h3 {
  margin: 0;
}

.list_container{
  flex-grow: 2;
}

.title_container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.title_subcontainer{
  display: flex;
}

.results_count{
  margin-left: 24px;
}

@media (max-width: 700px) {
  .results_count {
    display: none;
  }
}

.empty {
  margin: auto;
  margin-top: 10vh;
  padding: 10px;
  height: 50%;
  width: 50%;
  text-align: center;
  font-size: medium;
  color: #37333d;
  opacity: 32%;
}

.link {
  color: #ff2d55;
}

.footer_text_container {
  width: 50%;
  text-align: center;
  margin: auto;
}
