.name {
  margin: 1rem 0 0.5rem 0;
  font-size: xx-large;
  line-height: normal;
}

.name a,
.name a:hover,
.description a:hover {
  color: black;
}

.image {
  width: 10rem;
  height: 10rem;
  float: left;
  margin-right: 24px;
  border-radius: 1rem;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.services {
  margin: 0.4rem 0.4rem 0 0;
  display: inline-block;
}

.info_about {
  flex: 2;
  margin-right: 30px;
  font-size: 12px;
}

.info_id {
  display: flex;
  margin-bottom: 40px;
  /* min-width: 400px; */
}

.header_info {
  margin: auto 0;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1em;
}
.meta div a {
  margin-left: 0.1rem;
}

.info_details {
  margin-bottom: 1em;
  font-size: 16px;
  flex: 1;
  display: flex;
}

.info_details--border {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

.table_container {
  flex: 1;
}

.info_details > div {
  margin-right: 10px;
  width: 50%;
}

.info_details:last-of-type > div {
  width: 100%;
}


.info_details div div:first-of-type {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 8px;
  color: #736e7d;
}

.info_title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 1rem;
  color: #736e7d;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pills {
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.description {
  font-size: 16px;
}

.info_panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.empty {
  margin: auto;
  padding: 10px;
  font-size: medium;
  color: #37333d;
  opacity: 32%;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  justify-content: space-between;
}

.projects_grid {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 2rem;
}

.reviews_grid {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap: 2rem;
}

.report_link {
  margin-top: 4rem;
  font-size: 14px;
  font-weight: normal !important;
  color: #726d7c;
  margin-left: 10px;
  display: block;
}

.container {
  display: flex;
}

.container__content {
  margin: 0 24px;
  width: 100%;
}

.load_more_container{
  /* width: 100%; */
  text-align: center;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container__content {
    margin: 16px 0;
  }

  .info_about {
    margin-right: 0;
  }

  .info_panel {
    flex-direction: column;
  }

  .name {
    margin: 0.5rem 0;
  }

  .projects_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .reviews_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .description {
    margin-bottom: 3rem;
    font-size: 16px;
  }
  
}
