.container {
  margin-bottom: 1rem;
  min-height: 12rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  font-size: xx-large;
  line-height: normal;
  margin-bottom: 20px;
}

.image {
  border-radius: 20px;
  max-width: 100%;
}

.image_container {
  text-align: center;
  margin-bottom: 20px;
}

.video {
  height: 450px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.partner_logo {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
  border-radius: 1rem;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.partner_name {
  font-size: 15px;
  font-weight: 500;
}

.partner_info {
  display: flex;
  align-items: center;
}

.services {
  margin: 0.4rem 0.4rem 0 0;
}

.info_about {
  flex: 1;
  /* margin-right: 15px; */
  min-width: 200px;
  /* font-size: 12px; */
  display: flex;
  flex-direction: row;
}

.info_id {
  display: flex;
  margin-bottom: 40px;
  min-width: 400px;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.info_author {
  width: 30%;
  padding: 0 24px;
}

.info_title {
  /*width: 33%;*/
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  color: #736e7d;
  margin-bottom: 8px;
}

.pills {
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.description {
  font-size: 19px;
}

.info_panel {
  margin-bottom: 20px;
}

.arrow_right {
  border: solid #736e7d;
  border-width: 0 1px 1px 0;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: -1px;
  display: inline-block;
}

.arrow_left {
  border: solid #736e7d;
  border-width: 0 1px 1px 0;
  padding: 2px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  left: 1px;
  display: inline-block;
}

.header_arrow {
  width: 16px;
  height: 16px;
  border: 1px solid #d2d0d5;
  border-radius: 50%;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact {
  width: 250px;
  text-align: center;
  background: #ff2d55;
  border-radius: 6px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  /* cursor: pointer; */
  margin-top: 20px;
}

.container {
  display: flex;
}

.container__content {
  margin: 0 24px;
}

.project_description {
  width: 70%;
}

.info_external_link {
  color: var(--primary);
  text-transform: uppercase;
  margin-top: 16px;
}

.youtubeThumb_container{
  position: relative;
  
}

.youtubeThumb_play{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container__content {
    margin: 16px 0;
  }

  .info_about {
    flex-direction: column;
  }

  .info_author,
  .project_description {
    width: 100%;
  }

  .info_author {
    padding: 0;
    margin-top: 24px;
  }

  .video {
    height: 200px;
  }
  
}
