.container {
  background-color: #cccccd;
  color: #736e7d;
  border-radius: 1rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  display: inline-block;
}

.container--event_production {
  background-color: #feefd2;
  color: #ff7439;
}

.container--wearable_design {
  background-color: #e1f3d6;
  color: #44b600;
}

.container--architecture {
  background-color: #ffe4ff;
  color: #ff5afe;
}

.container--consulting {
  background-color: #f3b3be;
  color: #d80027;
}

.container--land_rental {
  background-color: #e2ecfc;
  color: #4888ee;
}
