.container {
  height: 240px;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 8px hsla(260, 6%, 46%, 0.16);
}

.video{
  height: auto;
  width: 40%;
  object-fit: cover;
  border-radius: 8px 0 0 8px ;
  flex-shrink: 0;
}

.image_container{
  position: relative;
  width: 40%;
  flex-shrink: 0;
}

.image{
  object-fit: cover;
}

.info {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: auto;
  margin-top: auto;
  width: 60%;
}

.tag {
  background-color: #e0dcf3;
  color: #3c24b3;
  border-radius: 1rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  display: inline-block;
}

.tags {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.title{
  font-size: 24px;
  font-weight: 600;
  line-height: 2rem;
}

.description {
  margin-top: 1rem;
}

.buttons {
  margin-top: 1rem;
}

.buttons a:first-of-type {
  margin-right: 20px;
}


@media (max-width: 991px){
  .container{
    height: 280px;
  }
}
@media (max-width: 700px){

  .container{
    flex-direction: column;
    height: auto;
  }

  .video{
    width: 100%;
    height: 54vw;
    border-radius: 8px 8px 0 0;
  }
  
  .image_container{
    width: 100%;
    height: 54vw
  }
  .info{
    width: auto;
  }
}