.CategoryPill {
  background-color: #cccccd;
  color: #736e7d;
  border-radius: 1rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  display: inline-block;
}

.CategoryPill--EventProduction {
  background-color: #FEEFD2;
  color: #FF7439;
}

.CategoryPill--WearableDesign {
  background-color: #E1F3D6;
  color: #44B600;
}

.CategoryPill--Architecture {
  background-color: #FFE4FF;
  color: #FF5AFE;
}

.CategoryPill--Consulting {
  background-color: #F3B3BE;
  color: #D80027;
}

.CategoryPill--LandRental {
  background-color: #E2ECFC;
  color: #4888EE;
}