.container {
  width: 100%;
  min-height: 214px;
  margin-bottom: 40px;
  position: relative;

  background: linear-gradient(180deg, #FFAF32 0%, #DF6714 100%);
  color: #ffffff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 40px 48px;
}

.leftPanel {
  max-width: 585px;
}

.image {
  height: 200px;
  position: absolute;
  right: 10px;
  bottom: -45px;
  z-index: 0;
}

.factsContainer {
  margin-top: 24px;
  display: flex;

  width: 100%;
  place-content: space-between;
}

.factContainer {
  width: 50%;
  margin-right: 5px;
}

.mainText {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* letter-spacing: -1px; */
}

.smallText {
  margin-top: 16px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;

}

@media (max-width: 990px){
  .leftPanel{
    max-width: 55%;
  }
}

@media (max-width: 767px){
  .leftPanel{
    max-width: 100%;
  }

  .mainText{
    font-size: 22px;
    line-height: 24px;
  }
  .image{
    display: none;
  }
  
  .container {
    justify-content: center;
  }
}
