.checkbox input[type='checkbox']:checked + label::after {
  --size: 1.2rem;
  content: '';
  position: absolute;
  width: var(--size) !important;
  height: calc(var(--size) / 2) !important;
  background: rgba(0, 0, 0, 0);
  top: 0.2rem !important;
  left: 0.03rem !important;
  border: 2px solid #44b600;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: rgba(0, 0, 0, 0) !important;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid var(--black-300);
}
