.container {
    margin: auto;
    max-width: 500px;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 12px;
}

.text {
    font-size: 16px;
    margin-top: 12px;
}

.link {
    color: #ff2d55;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 768px){
    .title {
        font-size: 24px;
    }
    
    .text {
        font-size: 14px;
    }
}