.image {
  margin: auto;
  width: 80px;
  height: 80px;
  float: left;
  margin-bottom: 10px;
  border-radius: 1rem;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.link {
  color: #ff2d55;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 500px;
  margin: auto;
  margin-top: 32px;
}

.input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid rgba(115, 110, 125, 0.32);
  border-radius: 6px;
}

.input_long {
  height: 130px;
  width: 100%;
  padding: 12px 10px;
  border: 1px solid rgba(115, 110, 125, 0.32);
  border-radius: 6px;
}

.submit_btn{
  width: 100%;
  margin-top: 32px;
  padding: 9px 17px;
  background: #FF2D55;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.submit_btn_disabled {
  background: rgba(255, 45, 85, 0.32);
  cursor: default;
}

.label {
  display: block;
  font-size: 15px;
  font-weight: 510;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text {
font-style: normal;
font-size: 15px;
color: #37333D;
margin-bottom: 10px;
}

.text_secondary {
font-style: normal;
font-size: 13px;
color: #736E7D;
}

.title {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
}

.description {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.confirm_container {
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.confirm_title {
  font-size: 32px;
  margin-bottom: 15px;
}

.confirm_text {
  font-size: 16px;
}