.container {
  width: 100%;
  min-height: 214px;
  margin-bottom: 40px;
  position: relative;

  background: linear-gradient(92.15deg, #FFF2F5 0%, #FFD9E0 100%);
  color: #242129;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 40px 48px;
}

.leftPanel {
  max-width: 470px;
}
.image {
  height: 210px;
  position: absolute;
  right: 10px;
  bottom: -30px;
  z-index: 0;
}

.factsContainer {
  margin-top: 24px;
  /* font-size: 16px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.mainText {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1px;
}

.link_join {
  color: #FF2D55;
}

.link_join:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  padding: 13px 33px;
  background: #FF2D55;
  border-radius: 6px;
  color: #FFF;
  font-size: 13px;
  cursor: pointer;
}

.button:hover {
  color: #FFF;
  transform: translateY(-2px);
}

.creators {
  font-size: 16px;
}

@media (max-width: 767px){
  
  .leftPanel{
    max-width: 100%;
  }
  
  .mainText{
    font-size: 22px;
    line-height: 24px;
  }
  
  .image{
    display: none;
  }

  .factsContainer {
    gap: 16px;
  }
  
  .button {
    font-size: 9px;
    padding: 6px 12px;
  }

  .creators {
    font-size: 14px;
  }

  .container {
    justify-content: center;
  }
}